body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282c34;
}

.titulo{
    color: #242b27;
    text-align: center;
    font-size: 300%;
    text-shadow: 0 0 3px #fff, 0 0 0px #fff, 0 0 3px #7ec699, 0 0 4px #7ec699, 0 0 5px #7ec699, 0 0 6px #7ec699, 0 0 7px #7ec699;;
}

.opciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10%;
}

.item1{
    align-self: center;
    justify-self: center;
}
.item2{
    align-self: center;
    justify-self: center;
}

.opciones-contenedor{
    align-items: center;
    border-radius: 5%;
    width: min-content;
}

.opciones-contenedor > a{
    color: #7ec699;
    list-style: none;
    text-decoration: none;
}

.opciones-contenedor > a > li{
    font-size: 200%;
    border-radius: 50px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
}

.imgop{
    width: 50%;
}

.opciones-contenedor:hover{
    background-color: #7ec699;
    color: #282c34;
    transition: 1s;
}

.opciones-contenedor > a:hover{
    color: #282c34;
    transition: 1s;
}

.imgv{
    width: 5%;
    border-radius: 100%;
    box-shadow:  0 0 3px #fff, 0 0 0px #fff, 0 0 3px #7ec699, 0 0 4px #7ec699, 0 0 5px #7ec699, 0 0 6px #7ec699, 0 0 7px #7ec699;;
}

.pagsup > h1{
    color: #242b27;
    text-align: center;
    text-shadow: 0 0 3px #fff, 0 0 0px #fff, 0 0 3px #7ec699, 0 0 4px #7ec699, 0 0 5px #7ec699, 0 0 6px #7ec699, 0 0 7px #7ec699;
    margin-bottom: 100px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora{
    background-color: #7ec699;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 15px 10px 3px #00000033;
}

button{
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: #7ec699;
    background-color: #282c34;
    height: 40px;
    width: 40px;
    cursor: pointer;
    box-shadow: 5px 3px #47151533;
}

button:active{
    background-color: #4a515f;
}

.pantalla{
    background-color: #282c34;
    grid-column: 1 /-1;
    color: #7ec699;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    word-break: break-all;
}

.botondbh{
    grid-column: span 2;
    width: 90%;
}

.botondbv{
    grid-row: span 2;
    height: 90%;
}

#vinferior{
    text-align: end;
}

#vsuperior{
    min-height: 20px;
}